.file-input {
    margin: 1rem 0;
  }
  
  .file-input label,
  .file-input input {
    display: block;
  }
  
  .file-input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .file-input input[type="file"] {
    width: 100%;
    font: inherit;
    padding: 0.15rem 0.25rem;
    border: 1px solid #ccc;
    background: #f8f8f8;
    cursor: pointer;
  }
  
  .file-input input[type="file"]:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .file-input--invalid label,
  .file-input--invalid p {
    color: red;
  }
  
  .file-input--invalid input[type="file"] {
    border-color: red;
    background: #ffd1d1;
  }
  