.search-bar-form {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: left;
  list-style: none;
  margin: 5rem auto;
  max-width: 10rem;
  }
  
  .search-bar-input {
    padding: 0.5rem;
    font-size: 2rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  
  .search-bar-button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  .search-bar-button:hover {
    background-color: #ececec;
  }

  .search-bar-clear-button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin-left: 0rem;
    margin-right: 0rem;
  }